.App {
  /*text-align: center;*/
}

button.my-button {
  display: block;
  margin: 0 auto;
  margin-top: 10
}

.row-view {
  display: block;
  width: 300px;
  margin-top: 15px;
  /*background-color: blue;*/

}

.row-view * {
  display: inline;
  text-align: center;
  /*margin: 1% 5% 1% 5%;*/
}

.row-view p {
  margin-right: 50px;
  float: left;
}

.row-view input {
  max-width: 90px;
  /*background-color: #d3d3d3;*/
}

.input-view {
  /*background-color: red;*/
  display: block;
  /*width: 200px;*/
}

.input-view > select {
  margin-right: 50px;
}

span.frequency-span {
  /*float: right;*/
  margin-top: -40px;
  margin-left: 150px;
  position: absolute;
}

#earnings > p {
  height: 300px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
